.DS_Store
**/node_modules
**/.yarn/cache/**
**/.yarn/unplugged/**
**/.yarn/*.gz
**/.yarn/version*
**/tmp
.idea/
source/css/bootstrap*
source/css/material*
source/js/material*
layout/layout-ejs.ejs
layout/layout-njk.njk
layout/layout-pug.pug
layout/mixins/helloWorld.pug
layout/mixins/index.pug
source/assets/material-icon.svg